body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

nav {
    background: #222;
    padding: 10px;
}

nav a, nav button {
    color: white;
    margin-right: 15px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
}
